<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'/>
  <link href='/css/style.css' rel='stylesheet'/> 
  <link href='/css/headerStyle.css' rel='stylesheet'/> 
  <link href='/js/fullcalendar/fullcalendar.css' rel='stylesheet'/>  <!--This is the one that makes bg the right/wrong color -->
  <link href='/js/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print'/>
  <link href='/js/bower_components/timepicker/jquery.timepicker.css' rel='stylesheet'/>
  <link href="/js/bower_components/DataTables/media/css/jquery.dataTables.min.css" rel='stylesheet'/>
  <link href="/js/bower_components/jquery-ui/themes/south-street/jquery-ui.css" rel="stylesheet" />
  <link href="/js/bower_components/jquery-ui/themes/south-street/theme.css" rel="stylesheet" />

  <script src='/js/bower_components/jquery/dist/jquery.js'></script>
  <script src='/js/bower_components/jquery-ui/jquery-ui.js'></script>
  <script src='/js/bower_components/moment/moment.js'></script>
  <script src="/js/bower_components/autoNumeric/autoNumeric.js"></script>
  <script src="/js/bower_components/timepicker/jquery.timepicker.js"></script>
  <script src="/js/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
  <script src='/js/fullcalendar/fullcalendar.min.js'></script>
  <script src="/js/main.js"></script>
  <script src="/js/header.js"></script>
</head>
<body>
<% include header.ejs %>
<div id='calendar'></div>

    <div id="dialog-form" title="Create new user">
        <p class="validateTips">All form fields are required.</p>
        <form>
            <fieldset>
                <label for="client">Client</label>
                <input type="text" name="client" id="client" value="" class="text ui-widget-content ui-corner-all">

				<label for="provisional" class="ownRow"> Provisional Booking? </label>
				<input type="checkbox" id="provisional" class="ownRow">
				<label for="resources"> Room </label>
				<select name="resources" id="resources">
						<% for(var i=0; i<resources.length; i++) {%>
						<option value="<%=resources[i].id%>"> <%= resources[i].name %> </option>
						<% } %>
				</select>
				<fieldset>  <!-- Time Info-->
				<label for="startdate" class="ownRow">Start</label>
				<input type="text" id="startdate" class="ui-widget-content ui-corner-all multiRow">
				<input id="starttime" class="ui-widget-content ui-corner-all multiRow">

				<label for="enddate" class="ownRow">End</label>
				<input type="text" id="enddate" class="ui-widget-content ui-corner-all multiRow">
				<input id="endtime"  class="ui-widget-content ui-corner-all multiRow">

				<label for="description" class="ownRow">Details / Description</label>
				<textarea id="description" cols="40" rows="20" class="ui-widget-content ui-corner-all"></textarea>

				<table id="charges">
					<thead>
						<th> Amount </th>
						<th> Type </th>
						<th> Other </th>
						<th> Delete </th>
						<th> </th>
					</thead>
					<tbody>
					</tbody>
				</table>
				<button id="addCharge"> Add Charge </button>
				<input type="hidden" id="eventID" class="ui-widget-content ui-corner-all multiRow">
				</fieldset>
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>


</body>
</html>
