<div id="headerBar">
<img src="/img/moseley-exchange-logo.jpg"/>
<h1> Moseley Exchange Room Hire System </h1>

<% if ( userFullName ) { %>
	<p> Logged in as <i><%=userFullName%> </i><a href="/signout"> Sign Out </a> </p>
<% } %>
</div>
