<div id="header">
	<div id="center_header">
	<div id="left_header">
		<img src="/img/moseley-exchange-logo.jpg"/>
		<h1> Moseley Exchange Room Hire System </h1>
	</div>
	<div id="right_header">
		<ul class="topnav">
			<li> <a href="/calendar"> Calendar </a></li>
			<li> <a href="/calendar/overview"> Overview </a></li>
			<li> <a href="/calendar/preferences"> Preferences </a></li>
			<li> <a href="#"> <%=userFullName%> </a>
				<ul class="subnav">
					<li> <a href="/signout"> Sign Out </a></li>
				</ul>
			</li>
		</ul>
		</div>
	</div>
	</div> <!-- #center_header -->
</div> <!-- #header -->
