<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'/>
  <link href='/css/style.css' rel='stylesheet'/>
  <link href='/css/style2.css' rel='stylesheet'/> 
  <link href='/js/fullCalendarResources/dist/fullcalendar.css' rel='stylesheet'/>
  <link href='/js/bower_components/timepicker/jquery.timepicker.css' rel='stylesheet'/>
  <link href='/js/fullCalendarResources/dist/fullcalendar.print.css' rel='stylesheet' media='print'/>
  <link rel="stylesheet" href="/js/fullCalendarResources/lib/jquery-ui/ui/jquery-ui.theme.css">
  <link rel="stylesheet" href="/js/fullCalendarResources/lib/jquery-ui/ui/jquery-ui.css">

  <script src='/js/fullCalendarResources/lib/moment/moment.js'></script>
  <script src='/js/fullCalendarResources/lib/jquery/dist/jquery.js'></script>
  <script src="/js/bower_components/timepicker/jquery.timepicker.js"></script>
  <script src='/js/fullCalendarResources/lib/jquery-ui/ui/jquery-ui.js'></script>
  <script src='/js/fullCalendarResources/dist/fullcalendar.js'></script>
  <script src="/js/main.js"></script>
</head>
<body>
    <button id="create-booking">Create new booking</button>
<div id='calendar'></div>

    <div id="dialog-form" title="Create new user">
        <p class="validateTips">All form fields are required.</p>
        <form>
            <fieldset>
                <label for="title">Title</label>
                <input type="text" name="title" id="client" value="Meeting" class="text ui-widget-content ui-corner-all">
                <label for="client">Client</label>
                <input type="text" name="client" id="client" value="Jane Smith" class="text ui-widget-content ui-corner-all">
				<label for="resources"> Room </label>
				<select name="resources" id="resources">
						<% for(var i=0; i<resources.length; i++) {%>
						<option value="<%=resources[i].id%>"> <%= resources[i].name %> </option>
						<% } %>
				</select>
				<fieldset>  <!-- Time Info-->
				<label for="allDay" class="ownRow"> Full Day Event? </label>
				<input type="checkbox" id="allDay" class="ownRow">
				<label for="startdate" class="ownRow">Start</label>
				<input type="text" id="startdate" class="ui-widget-content ui-corner-all multiRow">
				<input id="starttime" class="ui-widget-content ui-corner-all multiRow">

				<label for="enddate" class="ownRow">End</label>
				<input type="text" id="enddate" class="ui-widget-content ui-corner-all multiRow">

				<input id="endtime"  class="ui-widget-content ui-corner-all multiRow">
				</fieldset>
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>

<form>Select the resources you wanna filter:
  <% for(var i=0; i<resources.length; i++) {%>
  <input name="<%=resources[i].id%>" type="checkbox" checked /> <%= resources[i].name %>
  <% } %>
</form>

</body>
</html>
